$text-font: 'Krub', sans-serif;

.main-padding {
    padding-top: 60px;
    padding-bottom: 15vh;
}

.contactStyle {
    padding: 1em;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    background-color: blanchedalmond;
    font-family: $text-font;
}

.btnColor {
    background-color: orange;
}

textarea {
    resize: none;
  }
