$text-font: 'Krub', sans-serif;

.main-padding {
    padding-top: 60px;
    padding-bottom: 15vh;
}

.contactStyle {
    padding: 1em;
    border-style: solid;
    border-color: rgb(211,211,211);
    border-width: 2px;
    background-color: rgb(255,235,205);
    font-family: $text-font;
}

.btnColor {
    background-color: rgb(255,165,0);
}

textarea {
    resize: none;
  }
