$text-font: 'Krub', sans-serif;

span {
    font-size: 1.5rem;
    font-family: $text-font;
}

.mailingListSize {
    max-width: 50%;
}

.main-padding {
    padding-top: 60px;
}

.jumbotron {
    margin-bottom: 0;
    background-color: rgb(246, 230, 250);
}

.video-padding {
    padding-top: 11px;
    padding-bottom: 6px;
  }