span {
    font-size: 1.5rem;
}

.mailingListSize {
    max-width: 50%;
}

// #bootstrap_overrides {
//     div {
//         .container-fluid {
//             padding-top: 60px;
//             padding-bottom: 60px;
//             background-color: lavender;
//         }
//     }

//     .jumbotron {
//         margin-bottom: 0;
//         background-color: rgb(246, 230, 250);
//     }
// }

.main-padding {
    padding-top: 60px;
}

.jumbotron {
    margin-bottom: 0;
    background-color: rgb(246, 230, 250);
}