$text-font: 'Krub',
sans-serif;

.video-title {
    font-size: 1.8rem;
    font-family: $text-font;
    margin-bottom: 7px;
}

.mailingListSize {
    max-width: 50%;
}

.main-padding {
    padding-top: 60px;
}

.jumbotron {
    margin-bottom: 0;
    background-color: rgb(246, 230, 250);
}

.video-margin {
    margin-top: 7px;
}

.image-resize {
    width: 100%;
    object-fit: cover;
}