$navbar-font-color: rgb(170, 128, 255);
$navbar-collapse-btn-color: rgb(204,0,102);
$title-font: 'Gloria Hallelujah', cursive;
$navbar-font: 'Poiret One', cursive;

#bootstrap_overrides {
    .navbar-dark {
        background-color: black;
    }
    
    .navbar-nav{
        li.active {
            a {
                color: pink;
                background-color: transparent;
            }
        }
    }

    .nav-link:hover {
        color: $navbar-collapse-btn-color;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(204,0,102, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
        border-color: $navbar-collapse-btn-color;
    }

    a, .mailingListColor {
        color: $navbar-font-color;
        border-color: $navbar-font-color;
    }

}

h1 {
    font-family: $title-font;
}

.main-padding {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: lavender;
}

nav, footer {
    font-family: $navbar-font;
    font-size: 120%;
}

.footerPadding {
    padding-top: 20px;
    padding-bottom: 15px;
}

.btn-outline-primary {
    color: $navbar-font-color;
    border-color: $navbar-font-color;
}

.logo {
    height: 25px;
}

.links {
    list-style: none;
}
