.video-title {
  font-size: 1.8rem;
  font-family: "Krub", sans-serif;
  margin-bottom: 7px;
}

.mailingListSize {
  max-width: 50%;
}

.main-padding {
  padding-top: 60px;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #f6e6fa;
}

.video-margin {
  margin-top: 7px;
}

.image-resize {
  width: 100%;
  object-fit: cover;
}
