th {
  font-weight: bolder;
  font-size: 1.3rem;
}

.tours {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: lavender;
}

.tourdatesTable {
  padding-left: 12%;
  padding-right: 12%;
  font-family: "Krub", sans-serif;
}
